{% extends 'base2.html' %}
{%  load static %}

{% block content %}
    <div class="container container-background">
        {% include 'messages.html' %}

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body pb-5">
                        <form action="/user/{{ user_id }}/employee/{{ empId }}/monthlypayroll" method="post">
                            {% csrf_token %}
                            <h5 class="h4 lh-130 mb-3">Employee Live Information</h5>
                            From:<input type="date" id="start" name="startTime"
                                    value="{{ currdate }}"
                                    min="2018-01-01" max="2023-12-31" onchange="this.form.submit()">

                            To:<input type="date" id="end" name="endTime"
                                    value="{{ enddate }}"
                                    min="2018-01-01" max="2023-12-31" onchange="this.form.submit()">
                            
                            <input style="background-color: #008aff;color:white; " type="submit" value="Go">

                            <br><br><br><br>

                            <table>
                                <tr>
                                    <th>Date</th>
                                    <th>Photo Verified</th>
                                    <th>In Time</th>
                                    <th>Out Time </th>
                                </tr>
                                
                            </table>
                            
                                    
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>


        {% endblock %}