{% extends 'base2.html' %}
{%  load static %}

{% block content %}
    <div class="container container-background">
        {% include 'messages.html' %}
        
        <div class="row mt-5">
            {% if model == 'employee' %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body pb-5">
                        <form action="/user/{{ user_id }}/update" method="post">
                            {% csrf_token %}
                            <div class="pt-4 pb-5">
                                <img src="{% static 'assets/img/illustration-5.svg' %}" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Employee Master</h5>
                            <p>First Name</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="fname" class="form-control" placeholder="first name" value="{{data.fname}}" required>
                                
                            </div>
                            <p>Last Name</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="lname" class="form-control" placeholder="last name" value="{{data.lname}}" required>
                                
                            </div>
                            <p>Email</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="email" class="form-control" placeholder="email" value="{{data.email}}" required>
                                
                            </div>
                            <p>Mobile Number</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="mobileNumber" class="form-control" placeholder="username" value="{{data.mobileNumber}}" required>
                                
                            </div>
                            <p>Street</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="street" class="form-control" placeholder="street" value="{{data.street}}" required>
                                
                            </div>
                            <p>State</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="state" class="form-control" placeholder="state" value="{{data.state}}" required>
                                
                            </div>
                            <p>pincode</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="pincode" class="form-control" placeholder="pincode" value="{{data.pincode}}" required>
                                
                            </div>
                            <p>Country</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="country" class="form-control" placeholder="country" value="{{data.country}}" required>
                                
                            </div>
                            <input name="id" type="hidden" value={{data.id}} >
                            <input name="updationIn" type="hidden" value="Employee" >
                            
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    
                    </div>
                </div>
            </div>
            {% elif model == 'workLocation' %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body pb-5">
                        <form action="/user/{{ user_id }}/update" method="post">
                            {% csrf_token %}
                            <div class="pt-4 pb-5">
                                <img src="{% static 'assets/img/illustration-5.svg' %}" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <p><Address></Address></p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="address" class="form-control" placeholder="street" value="{{data.address}}" required>
                                
                            </div>
                            <p>State</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="state" class="form-control" placeholder="state" value="{{data.state}}" required>
                                
                            </div>
                            <p>pincode</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="pincode" class="form-control" placeholder="pincode" value="{{data.pincode}}" required>
                                
                            </div>
                            <p>Country</p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="country" class="form-control" placeholder="country" value="{{data.country}}" required>
                                
                            </div>
                            
                            <input name="id" type="hidden" value={{data.id}} >
                            <input name="updationIn" type="hidden" value="WorkLocations" >
                            
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


    {% endblock %}
